{% extends 'base.html' %} {% block title %}
<title>admin | Product</title>
{% endblock %} {% block body %}
<section>
    <table style="border: 2px solid #b4b4b4; border-radius: 12px; padding: 12px;">
      <tr >
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Dispaly</th>
        <th>Edit</th>
      </tr>
      {% for p in products %}
      <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.description }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.active }}</td>
        <td><a href="#">Edit</a></td>
      </tr>
      {% endfor %}
    </table>
    <h1><a href="/admin/dashboard/product">Add Product</a></h1>
    <h1><a href="/admin/dashboard/product">Edit Product</a></h1>
</section>
{% endblock %}
