{% extends 'base.html' %} {% block title %}
<title>admin | Product</title>
{% endblock %} {% block body %}
<section>
  <section>
    <h2>PRODUCTS</h2>
    <table
      style="border: 2px solid #b4b4b4; border-radius: 12px; padding: 12px"
    >
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Dispaly</th>
        <th>Edit</th>
      </tr>
      {% for p in products %}
      <tr>
        <td><img style="width: 40px" src="/static/cover/{{ p.id }}.jpg"></td>
        <td>{{ p.name|truncate(20) }}</td>
        <td>{{ p.description|truncate(20) }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.active }}</td>
        <td><a href="/admin/dashboard/edit-product/{{ p.id }}">Edit</a></td>
      </tr>
      {% endfor %}
    </table>
  </section>
  <section>
    <h2>USERS</h2>
    <table
      style="border: 2px solid #b4b4b4; border-radius: 12px; padding: 12px"
    >
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>{{ user.username|truncate(20)}}</td>
        <td>{{ user.password|truncate(20) }}</td>
        <td>{{ user.email|truncate(20) }}</td>
      </tr>
      {% endfor %}
    </table>
    <h1><a href="/admin/dashboard/product">Add Product</a></h1>
  </section>
</section>
{% endblock %}