{% extends 'base.html' %} {% block title %}
<title>admin | Product</title>
{% endblock %} {% block body %}
<section align="center">
  <h1 align="center">Dashboard</h1>
  <hr>
  <section>
    <h2>PRODUCTS</h2>
    <table align="center">
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Description</th>
        <th>$Price</th>
        <th>Dispaly</th>
        <th>Edit</th>
      </tr>
      {% for p in products %}
      <tr>
        <td><img style="width: 40px" src="/static/cover/{{ p.id }}.jpg"></td>
        <td>{{ p.name|truncate(20) }}</td>
        <td>{{ p.description|truncate(20) }}</td>
        <td>${{ p.price }}</td>
        <td>{{ p.active }}</td>
        <td><a href="/admin/dashboard/edit-product/{{ p.id }}">Edit</a></td>
      </tr>
      {% endfor %}
    </table>
  </section>
  <section>
    <h2 align="center">USERS</h2>
    <table align="center">
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>{{ user.username|truncate(20)}}</td>
        <td>{{ user.password|truncate(20) }}</td>
        <td>{{ user.email|truncate(20) }}</td>
      </tr>
      {% endfor %}
    </table>
    <h1><a href="/admin/dashboard/product">Add Product</a></h1>
  </section>
  <section>
    <h2 align="center">Cart</h2>
    <table style="margin: auto;">
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>User ID</th>
        <th>Useraname</th>
        <th>Quantity</th>
      </tr>
      {% for cart in carts %}
      <tr>
        <td>{{ cart.id }}</td>
        <td>{{ cart.status }}</td>
        <td>{{ cart.user_id }}</td>
        <td>{{ cart.user }}</td>
        <td><a href="{{ url_for('admin.order', id=cart.id) }}">more</a></td>
      </tr>
      {% endfor %}
    </table>
  </section>

</section>
{% endblock %}