{% extends 'base.html' %} {% block title %}
<title>admin | Product</title>
{% endblock %} {% block body %}
<section>
  <div>
    <form action="#" method="post" enctype="multipart/form-data">
      <input type="file" name="cover" id="" /><br />
      <input type="text" name="name" id="" /><br />
      <textarea name="description" id="" cols="30" rows="10"></textarea><br />
      <input type="number" name="price" id="" /><br />
      <input type="checkbox" name="active" id="" /><br />
      <input type="submit" />
    </form>
  </div>
  <div>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Dispaly</th>
      </tr>
      {% for p in products %}
      <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.description }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.active }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</section>
{% endblock %}
