{% extends 'base.html' %} {% block title %}
<title>HOME</title>
{% endblock %} {% block body %}
{%include "part/header.html"%}
<section>
  <div>
    <img style="width: 400px" src="/static/cover/{{ details.id }}.jpg" />
  </div>
  <div>{{ details.name }}</div>
  <div>{{ details.description }}</div>
  <div>${{ details.price }}</div>
  <form method="get" action="/add-to-cart">
    <input type="hidden" name="id" value="{{ details.id }}">
    <input type="submit" value="Add to cart">
  </form>
</section>
{% endblock %}