{% extends 'base.html' %}
{% block title %}
    <title>User | login</title>
{% endblock %}

{% block body %}
    <form action="#" method="post">
        <input type="hidden" name="regis">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="email" name="email" placeholder="email">
        <!-- <textarea name="address" placeholder="address" id="" cols="30" rows="10"></textarea> -->
        <input type="submit">
    </form>
{% endblock %}